<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- This pipeline allows you to customize how the ContentUsageTools module determines if a content item is a page -->
      <contentusagetools.determineifpage>
        <processor type="ContentUsageTools.Pipelines.HasPresentationSettings, ContentUsageTools" />
      </contentusagetools.determineifpage>
      <getContentEditorWarnings>
        <processor patch:after="*[type='Sitecore.Pipelines.GetContentEditorWarnings.IsLocked, Sitecore.Kernel']" mode="on"
          type="ContentUsageTools.Pipelines.ContentEditorContentUsageMessage, ContentUsageTools" />
        <processor />
      </getContentEditorWarnings>
    </pipelines>
    <commands>
      <command name="orange:showreferences" type="ContentUsageTools.Commands.ShowComponentReferencesCommand, ContentUsageTools" />
    </commands>
    <pageextenders>
      <pageextender type="ContentUsageTools.PageExtenders.ContentUsageToolsPageExtender, ContentUsageTools" patch:before="pageextender[@type='Sitecore.Layouts.PageExtenders.PreviewPageExtender']" />
    </pageextenders>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.LuceneProvider.LuceneSearchConfiguration, Sitecore.ContentSearch.LuceneProvider">
        <defaultIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="LinkedItems"           storageType="yes"  indexType="untokenized">ContentUsageTools.ComputedField.LinkedItems,ContentUsageTools</field>
          </fields>
        </defaultIndexConfiguration>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>