<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- This pipeline allows you to customize how the ContentUsageTools module determines if a content item is a page -->
      <contentusagetools.determineifpage>
        <processor type="ContentUsageTools.Pipelines.HasPresentationSettings, ContentUsageTools" />
      </contentusagetools.determineifpage>
    </pipelines>
  </sitecore>
</configuration>